a:link {color:black; text-decoration:none;}
a:visited {color:black; text-decoration:none;}
a:hover {color:black; text-decoration:underline;}

#photologin a:link {color:white; text-decoration:none;}
#photologin a:visited {color:white; text-decoration:none;}
#photologin a:hover {color:white; text-decoration:none;}

body{
    margin-top: 0px;
    margin-left: 0px;
}

#maingrap{
    margin:0 auto;
    width:980px;
}
#maintitle {
    width:980px;
    text-align:center;
    font-size: 40px;
}
#MenuList {
    width:980px;
    text-align:center;
    color:black;
    margin-top:10px;
    margin-bottom:20px;
    padding-bottom:10px;
    
    border:1px solid #e1e1e1;
    border-top: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;
}
#TagCommentWrap{
    width:980px;
    text-align:center;
}

    
#MainPage {
    width:980px;
    text-align:center;
}

#Message{
    width:980px;
    text-align:center;
    border:1px solid #e1e1e1;
    border-bottom: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;
}
#footer{
    margin:0 auto;
    padding-top:5px;
    width:980px;
    height:30px;
    text-align: center;
    border:1px solid #e1e1e1;
    border-bottom: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;
}