﻿<!DOCTYPE html>
{% autoescape true %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="maingrap">
        <div id="maintitle">
            <a href="/">5P LOL Calculator</a>
        </div>
        <div id="MenuList">
        </div>
        <div id="MainPage">
        </div>
        <div id="Message">

        </div>
        <div id="footer">
            Copyright(c) Soobin & Soyoung All rights reserved.
        </div>
    </div>
</body>
</html>
{% endautoescape %}